<h1>Bugs Page</h1>
<a href="/">Return Home</a>
<% bugs_api.each do |bug| %>
  <p>
    <%= p bug[1]["file-name"] %>
    <img src="<%= bug[1]["icon_uri"] %>" alt="">
    <button>Add to wishlist</button>
    <button>Add to collected</button>
  </p>
<%end%>