<h1>We Hate Tom Nook</h1>
<h2>Database</h2>
<a href="/sign_up">Sign up</a>
<a href="/log_in">Log in</a>
<% if logged_in? %>
 <h1>Logged In</h1>
 <form action="/sessions" method="POST">
    <input type="hidden" name="_method" value="delete">
    <button>Logout</button>
<%end%>