<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Mountains+of+Christmas:wght@700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>We Hate Tom Nook Database</title>
    <link rel='stylesheet' href='/stylesheets/main.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <nav class="navigation_bar">
      <ul class="navigation_bar_ul">
        <li><a href="/">&#127793;Homepage</a></li>
        <% if logged_in? %>
          <li><a href="/wishlist">&#127799;Wishlist</a></li>
          <li><a href="/favourites">&#127775;Favourites</a></li>
        <%end%>
        <li><a href="/fishes">&#128032;Fishes</a></li>
        <li><a href="/villagers">&#129485;Villagers</a></li>
        <li><a href="/bugs">&#129419;Bugs</a></li>
        <li><a href="/arts">&#127912;Arts</a></li>
        <li><a href="/songs">&#127932;Songs</a></li>
        <li><a href="/sea_creatures">&#129408;Sea Creatures</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
