<h1>Sign up</h1>
<form action="/sign_up" method="POST">
<label for="">Username</label>
<input type="text" name="username">
<label for="">Email</label>
<input type="text" name="email">
<label for="">Password</label>
<input type="password" name="password">
<button>Submit</button>
</form>