/* * {
  border: 1px solid red;
} */
html {
  cursor: url(./handpointer0.cur), auto;
}
body {
  background-color: khaki;
}
.navigation_bar {
  margin: 0 auto;
}
.navigation_bar_ul {
  border: 2px solid black;
  padding-left: 0;
  display: flex;
  list-style: none;
  justify-content: center;
}
.navigation_bar_ul a {
  font-size: 1.5rem;
  padding: 0 10px 0 10px;
}
a {
  text-decoration: none;
}
.login {
  text-align: center;
}
.login a {
  padding: 0 10px 0 10px;
  font-size: 2rem;
}
h1,
h2 {
  text-align: center;
  margin: 0;
}
img {
  max-width: 128px;
}
.user_form,
.user_button {
  text-align: center;
}
.wishlist_items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.favourite_items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.bug_items {
  text-transform: capitalize;
  margin: 0 auto;
  display: grid;
  border: 1px solid red;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.border {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid brown;
  display: grid;
  justify-items: center;
  text-align: center;
}
.border:hover {
  opacity: 70%;
}
button:hover {
  opacity: 100%;
  cursor: url(./handpointer1.cur), auto;
  background-color: aqua;
}
#user_buttons:hover {
  opacity: 100%;
}
a:hover {
  cursor: url(./handpointer1.cur), auto;
}
