/* * {
  border: 1px solid red;
} */
html {
  cursor: url(./handpointer0.cur), auto;
}
body {
  background-color: khaki;
  background: url(./background0.jpg) no-repeat center center fixed;
  background-size: cover;
}
.navigation_bar {
  margin: 0 auto;
}
.navigation_bar_ul {
  border-radius: 10px;
  background-color: #8fd6ba;
  border: 2px solid black;
  padding-left: 0;
  display: flex;
  list-style: none;
  justify-content: center;
}
.navigation_bar_ul a {
  font-size: 1.5rem;
  font-family: "Indie Flower", cursive;
  padding: 0 10px 0 10px;
}
.navigation_bar_ul li:hover {
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
a {
  text-decoration: none;
}
.login {
  text-align: center;
  padding: 10px;
}
.login a {
  padding: 10px;
  font-size: 2rem;
}
h1,
h2 {
  text-align: center;
  margin: 5px 0 5px 0;
}
h1 {
  font-size: 3rem;
  font-family: "Mountains of Christmas", cursive;
}
h2 {
  font-family: "Indie Flower", cursive;
}
img {
  max-width: 128px;
}
.user_form,
.user_button {
  text-align: center;
}
.wishlist_items {
  font-family: "Indie Flower", cursive;
  text-transform: capitalize;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.favourite_items {
  font-family: "Indie Flower", cursive;
  text-transform: capitalize;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.bug_items {
  font-family: "Indie Flower", cursive;
  text-transform: capitalize;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.border {
  background-color: #8fd6ba;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid brown;
  display: grid;
  justify-items: center;
  text-align: center;
}
.border:hover {
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes pulse {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 10%;
  }
}

button:hover {
  opacity: 100%;
  cursor: url(./handpointer1.cur), auto;
  background-color: #ec7174;
}
#user_buttons:hover {
  opacity: 100%;
}
a:hover {
  cursor: url(./handpointer1.cur), auto;
}
