<h1>Arts Page</h1>
<a href="/">Return Home</a>
<% arts_api.each do |art| %>
  <p>
    <%= p art[1]["name"]["name-USen"] %>
    <img src="<%= art[1]["image_uri"] %>" alt="">
    <form action="/wishlist_arts" method="POST">
      <input type="hidden" name="art_name" value="<%=art[1]["name"]["name-USen"]%>">
      <input type="hidden" name="item_id" value="<%= art[1]["id"] %>">
      <button>Add to wishlist</button>
    </form>
  </p>
<%end%>
