<h1>Fishes Page</h1>
<a href="/">Return Home</a>
<% fishes_api.each do |fish| %>
  <p>
    <%= p fish[1]["file-name"] %>
    <img src="<%= fish[1]["icon_uri"] %>" alt="">
    <button>Add to wishlist</button>
    <button>Add to collected</button>
  </p>
<%end%>
