<h1>Fossils Page</h1>
<a href="/">Return Home</a>
<% fossils_api.each do |fossil| %>
  <p>
    <%= p fossil[1]['name']["name-USen"]  %>
    <img src="<%= fossil[1]["icon_uri"] %>" alt="">
    <button>Add to wishlist</button>
    <button>Add to collected</button>
  </p>
<%end%>
