<% if logged_in? %>
  <h1>You are now logged In</h1>
  <div class="login">
    <a class="change_email" href="/change_email">Change email</a>
  </div>
  <form action="/sessions" method="POST" class="user_form">
    <input type="hidden" name="_method" value="delete">
    <button class="user_button">Logout</button>
  <% else %>
    <h1 class="tom_nook">We Don't Talk About Tom Nook</h1>
    <h2>Database for collectors of Animal Crossing: New Horizons</h2>
    <h3>I dedicate this to Rach the Favourite, Calista the Ambitious and Diego the Indestructible</h2>
    <div class="login">
      <a href="/sign_up">Sign up</a>
      <a href="/log_in">Log in</a>
    </div>
  <%end%>
