<h1>We Hate Tom Nook</h1>
<h2>Database for collectors</h2>
<% if logged_in? %>
  <h1>Logged In</h1>
  <form action="/sessions" method="POST" class="user_form">
    <input type="hidden" name="_method" value="delete">
    <button class="user_button">Logout</button>
  <% else %>
    <div class="login">
      <a href="/sign_up">Sign up</a>
      <a href="/log_in">Log in</a>
    </div>
  <%end%>
