<h1>Songs Page</h1>
<div class="bug_items">
  <% songs_api.each do |song| %>
    <div class="border3">
      <%= song[1]["name"]["name-USen"] %>
      <img src="<%= song[1]["image_uri"] %>" alt="">
      <% if !!logged_in? %>
        <form action="/wishlist_songs" method="POST">
          <input type="hidden" name="song_name" value="<%=song[1]["name"]["name-USen"]%>">
          <input type="hidden" name="item_id" value="<%= song[1]["id"] %>">
          <button>Add to wishlist</button>
        </form>
      <%end%>
    </div>
  <%end%>
</div>
